<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>main page</h1>
    <h3>welcome, <%=id%>번째 가입 고객님 !!</h3>
    <p>Life is mine! </p>
    <img src="image/image01.jpg" width="300px"></img>

    <script src="main.js"></script>
    <div><a href="/logout">logout</a></div>

</body>
</html>