<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1> Welcome !! <%= name %></h1>
    <p><%= id %> 번째 가입자 이시네요~!! 축하드려요</p>
</body>
</html>