<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>email ejs template</title>
</head>
<body>
    <h1> Welcome !! <%= email %></h1>
    <!-- 
        <%= %>가 변수를 치환할 자리를 의미한다
        이러한 형태는 ejs 파일에서 사용할 수 있다.

    -->
    <p> 정말 반가워요 ^^</p>
</body>
</html>